{% macro buttons(config) %}
    <hr>
    <h4>{{ gettext("Do you understand and consent to these terms?") }}</h4>
    <br>
    <button type="button" id="consent" class="col-12 col-lg-5 btn btn-primary btn-lg" onClick="psynet.nextPage(true);"
            style="float: left;">
        {{ pgettext("consent", "I agree") }}
    </button>
    <button type="button" class="col-12 col-lg-5 btn btn-danger btn-lg" onClick="psynet.nextPage(false);"
            style="float: right;">
        {{ pgettext("consent", "No, thank you (return task)") }}
    </button>
{% endmacro %}

{% macro fixed_buttons(config) %}
    <div style="padding-bottom: 100px;"></div>
    <div class="fixed-bottom consent-gradient container">
        <div style="margin-top: 120px; text-align: right; white-space: nowrap;">
            {{ gettext("Scroll up/down to see all text") }} <span class="up-down-arrows">&#8645;</span>
        </div>
        {{ buttons(config) }}
    </div>
{% endmacro %}

{% macro pi(config) %}
    <h4>{{ pgettext("consent", "Principal Investigator") }}</h4>
    <p>
        Dr. Nori Jacoby,
        Max Planck Institute for Empirical Aesthetics,
        Grüneburgweg 14,
        60322 Frankfurt am Main,
        nori.jacoby@ae.mpg.de
    </p>
{% endmacro %}

{% macro overview(config) %}
    <h4>{{ pgettext("consent-overview", "Overview") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-overview", "This research is being conducted by researchers at the Max-Planck-Institute for Empirical Aesthetics.") }}
        {{ pgettext("consent", "If you have any questions about this research, do not hesitate to contact the main researcher in this project, Nori Jacoby at:") }}
        <a target="_blank" href="mailto:{{ config.contact_email_on_error }}">{{ config.contact_email_on_error }}</a>.
        {{ pgettext("consent-overview", "The purpose of this online form is to give you information to help you decide whether you want to take part in a research study.") }}
    </p>
{% endmacro %}

{% macro purpose(config) %}
    <h4>{{ pgettext("consent-purpose", "Purpose") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-purpose", "The purpose of this project is to study the role of experience and exposure in creating and affecting our perception, decisions and actions.") }}
        {{ pgettext("consent-purpose", "Specifically, we aim to combine a wide range of behavioural methodologies to characterize the ways in which people from diverse backgrounds internalize and process external conditions, both in the auditory (e.g., speech, music) and visual (e.g., faces, color) domains.") }}
        {{ pgettext("consent-purpose", "We are also interested in the way that these internal representations affect human decision making and behaviour.") }}
    </p>
{% endmacro %}

{% macro procedure(config) %}
    <h4>{{ pgettext("consent-procedure", "Procedure") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-procedure", "If you volunteer to participate in this study, you will be asked to perform simple tasks using your keyboard or mouse while listening to sounds, or while observing images or videos.") }}
        {{ pgettext("consent-procedure", "For example, you may be asked to judge how pleasant a particular sound or an image is, or to categorize sounds or images (e.g., if a sound or an image is that of a car or a cow), or to judge other basic features of sounds or images (e.g., how frequently do you encounter this type of sound or image? how aesthetically pleasing you consider a particular sound or image?).") }}
        {{ pgettext("consent-procedure", "The specific sounds, images, and videos used will vary, but may include: recordings of ambient sounds, noise-bursts, speech, music, simple tones, naturalistic images, animated images, comics, faces, objects, geometric shapes, fractal images, or videos of natural environments.") }}
        {{ pgettext("consent-procedure", "In some experiments, we may use mild deception, i.e., we may not explain the full truth regarding an experimental task (for example we will not tell you that an image was generated by an artificial computer system and not a human).") }}
        {{ pgettext("consent-procedure", "Mild deception will only be used in some experiments where we need to prevent biasing the participants before taking the experiment.") }}
        {{ pgettext("consent-procedure", "Finally, in some experiments you may be asked to make a voice or video recording, for example, you may be asked to record your finger-tapping in response to a sound or video, or to record yourself speaking or singing.") }}
        {{ pgettext("consent-procedure", "If the experiment will contain these elements we will ask for an additional consent.") }}
    </p>
{% endmacro %}


{% macro procedure(config) %}
    <h4>{{ pgettext("consent-procedure", "Procedure") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-procedure", "If you volunteer to participate in this study, you will be asked to perform simple tasks using your keyboard or mouse while listening to sounds, or while observing images or videos.") }}
        {{ pgettext("consent-procedure", "For example, you may be asked to judge how pleasant a particular sound or an image is, or to categorize sounds or images (e.g., if a sound or an image is that of a car or a cow), or to judge other basic features of sounds or images (e.g., how frequently do you encounter this type of sound or image? how aesthetically pleasing you consider a particular sound or image?).") }}
        {{ pgettext("consent-procedure", "The specific sounds, images, and videos used will vary, but may include: recordings of ambient sounds, noise-bursts, speech, music, simple tones, naturalistic images, animated images, comics, faces, objects, geometric shapes, fractal images, or videos of natural environments.") }}
        {{ pgettext("consent-procedure", "In some experiments, we may use mild deception, i.e., we may not explain the full truth regarding an experimental task (for example we will not tell you that an image was generated by an artificial computer system and not a human).") }}
        {{ pgettext("consent-procedure", "Mild deception will only be used in some experiments where we need to prevent biasing the participants before taking the experiment.") }}
        {{ pgettext("consent-procedure", "Finally, in some experiments you may be asked to make a voice or video recording, for example, you may be asked to record your finger-tapping in response to a sound or video, or to record yourself speaking or singing.") }}
        {{ pgettext("consent-procedure", "If the experiment will contain these elements we will ask for an additional consent.") }}
    </p>
{% endmacro %}


{% macro voluntary(config) %}
    <h4>{{ pgettext("consent-voluntary", "Voluntary participation") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-voluntary", "Your participation in this research is voluntary.") }}
        {{ pgettext("consent-voluntary", "You are free to refuse to take part, and you may stop taking part at any time.") }}
        {{ pgettext("consent-voluntary", "You are free to discontinue participation in this study at any time without penalty.") }}
        {{ pgettext("consent-voluntary", "The investigator may withdraw you from this research if circumstances arise which warrant doing so.") }}
    </p>
{% endmacro %}


{% macro confidentiality(config, audiovisual=false) %}
    <h4>{{ pgettext("consent-confidentiality", "Confidentiality") }}</h4>
    <p class="consent-text">
        {% if audiovisual %}
            {{ pgettext("consent-confidentiality", "All the recordings we obtain during this research will be kept confidential, and nobody outside the group of researchers will be able to share or store them.") }}
            {{ pgettext("consent-confidentiality", "However, in some experiments, your recordings may be seen or heard by other participants in order to evaluate them in different attributes or create new materials (for example replicate a rhythm that you created, or continue a melody that you sang).") }}
            {{ pgettext("consent-confidentiality", "Your recordings will not be associated with your name or other identifiers in any way.") }}
            {{ pgettext("consent-confidentiality", "Your recordings will not be used to derive your real identity, and they will not be made public.") }}
            {{ pgettext("consent-confidentiality", "Raw audio/video will not be shared with collaborators (we will only share extracted data from recordings without personal identifiers).") }}
            {{ pgettext("consent-confidentiality", "Although researchers will not use your recordings to derive your real identity, personal information could be leaked if you are not in an isolated environment.") }}
            {{ pgettext("consent-confidentiality", "You may wish to make sure that no sounds/visual material in your environment could be linked to your personal information. In addition, while you perform a recording, the microphone or camera can capture unintended audio or video, for example the camera can capture another family member, or the microphone can capture something you say to another person.") }}
            {{ pgettext("consent-confidentiality", "If you choose to participate in the experiment, it is important and your responsibility to make sure that while you record audio and video nothing that you don’t intend to be recorded is recorded.") }}
            {{ pgettext("consent-confidentiality", "For example, you may want to sit in a room that is isolated from the rest of the house.") }}
            {{ pgettext("consent-confidentiality", "By consenting to this experiment, you are committing not to use profanity while recording audio or nudity while recording video.") }}
        {% else %}
            {{ pgettext("consent-confidentiality", "No personal identifiers (e.g. your name or contact data) will be collected or used at any stage of the experiment.") }}
            {{ pgettext("consent-confidentiality", "Thus, the experimental data is anonymous.") }}
            {{ pgettext("consent-confidentiality", "We may collect some demographic data (e.g. age, gender, country of residence) as well as information about your learning and exposure history (e.g. musical experience playing an instrument, years of formal education, languages spoken).") }}
            {{ pgettext("consent-confidentiality", "If an experiment is collecting data that cannot be fully anonymized, we will inform you and also ask for additional consent.") }}
            {{ pgettext("consent-confidentiality", "These include experiments where we make audio-visual recordings or where we need your contact details to contact you in the future to take another experiment.") }}
        {% endif %}
    </p>
{% endmacro %}

{% macro lucid_confidentiality(config) %}
    <h4>{{ pgettext("consent-confidentiality", "Confidentiality") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-confidentiality", "No personal identifiers (e.g. your name or contact data) will be collected or used at any stage of the experiment.") }}
        {{ pgettext("consent-confidentiality", "Thus, the experimental data is anonymous.") }}
        {{ pgettext("consent-confidentiality", "We may collect some demographic data (e.g. age, gender, country of residence) as well as information about your learning and exposure history (e.g. musical experience playing an instrument, years of formal education, languages spoken).") }}
    </p>
    <p class="consent-text">
        {{ pgettext("consent-confidentiality", "If an experiment is collecting data that cannot be fully anonymized, we will inform you and also ask for additional consent.") }}
        {{ pgettext("consent-confidentiality", "Consenting to these additional requirements is also fully voluntary.") }}
        {{ pgettext("consent-confidentiality", "These include experiments where we make audio-visual recordings or where we need your contact details to contact you in the future to take another experiment.") }}
    </p>
    <p class="consent-text">
        {{ pgettext("consent-confidentiality", "All of the information we obtain during the research will be kept confidential.") }}
        {{ pgettext("consent-confidentiality", "We will only save your anonymized alpha numeric code in our system, in order to distinguish participants who have already taken part in this or other experiments.") }}
        {{ pgettext("consent-confidentiality", "This code will not be used to derive your real identity, will not be shared with anyone outside of the research team and will be deleted after use.") }}
        {{ pgettext("consent-confidentiality", "Although researchers will not use your alpha numeric code to derive your real identity, this record could be linked in some cases to your public profile page if a data breach takes place.") }}
        {{ pgettext("consent-confidentiality", "Thus, you may wish to restrict what information you choose to share publicly.") }}
    </p>
{% endmacro %}

{% macro collaborations(config, audiovisual=false) %}
    <h4>{{ pgettext("consent-collaborations", "Research collaborations") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-collaborations", "For the purpose of helping scientific progress and replication, sometimes we may share the data with research collaborators.") }}
        {% if audiovisual %}
            {{ pgettext("consent-collaborations", "In these cases, we may share your audio-visual material along with fully anonymized data, such as demographic, aggregated, or extracted data.") }}
            {{ pgettext("consent-collaborations", "We will never connect your real name or any of your personal information directly to your image or sound recording, even though it is off course possible to recognize individuals based on audio-visual material.") }}
        {% else %}
            {{ pgettext("consent-collaborations", "In these cases, we will only share fully anonymized data, such as demographic, aggregated, or extracted data without any personal identifiers.") }}
            {{ pgettext("consent-collaborations", "Audio-visual material will be shared only if your consent to an additional consent form as explained above.") }}
        {% endif %}
    </p>
{% endmacro %}


{% macro security(config, audiovisual=false) %}
    <h4>{{ pgettext("consent-security", "Security") }}</h4>
    <p class="consent-text">
        {% if audiovisual %}
            {{ pgettext("consent-security", "During data collection, audio-visual material will be recorded on a separate server.") }}
            {{ pgettext("consent-security", "Audio-visual material will not be indexed by personal information but will be linked to personal information by a key (such as “afasd12314asdasd”).") }}
            {{ pgettext("consent-security", "Personal information will be stored separately from audio-visual materials and encrypted using a strong encryption protocol (such as Advanced Encryption Standard).") }}
        {% else %}
            {{ pgettext("consent-security", "Data will be stored temporarily on external servers and desktops/laptops that are password protected.") }}
            {{ pgettext("consent-security", "The data will be then stored permanently in the institute servers with hard disks encrypted using industry-standard encryption software.") }}
            {{ pgettext("consent-security", "No data will be stored permanently on external servers.") }}
        {% endif %}
    </p>
{% endmacro %}


{% macro risks(config) %}
    <h4>{{ pgettext("consent-risks", "Risks/Discomforts") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-risks", "There are no risks for participating in this study beyond those associated with normal computer use.") }}
    </p>
{% endmacro %}


{% macro benefits(config) %}
    <h4>{{ pgettext("consent-benefits", "Benefits") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-benefits", "Although it may not directly benefit you, this study may benefit society by helping us understanding how humans derive information from sound and vision, and potentially to help engineer machines that can replicate our abilities (e.g. in sound recognition and computer vision) and to help improve perceptual abilities in people whose hearing or sight is impaired.") }}
    </p>
{% endmacro %}


{% macro compensation(config) %}
    <h4>{{ pgettext("consent-compensation", "Compensation") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-compensation", "This study is completely voluntary; you will not receive any monetary compensation for participation.") }}
        {{ pgettext("consent-compensation", "By doing the task you are helping science, thank you!") }}
    </p>
{% endmacro %}

{% macro rights(config) %}
    <h4>{{ pgettext("consent-rights", "Your rights") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-rights", "You have the right to information regarding the data relating to you that is stored at the Max-Planck-Institute, the right to correct inaccurate data, and the right to demand the deletion of data in cases of inadmissible data storage and the right to data portability.") }}
        {{ pgettext("consent-rights", "Note that in some studies data deletion will not be possible, in this case we will ask you specifically to consent to this procedure in a separate consent form.") }}
        {{ pgettext("consent-rights", "You also have the right to submit an objection to the supervisory authority.") }}
        {{ pgettext("consent-rights", "For the Max-Planck-Society, this is:") }}
        Bayerische Landesamt für Datenschutzaufsicht, Postfach 606, 91511 Ansbach, Germany.
    </p>
{% endmacro %}


{% macro contact(config) %}
    <h4>{{ pgettext("consent-contact", "Contact information") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent", "If you have any questions about this research, do not hesitate to contact the main researcher in this project, Nori Jacoby at:") }}
        <a target="_blank" href="mailto:{{ config.contact_email_on_error }}">{{ config.contact_email_on_error }}</a>.
    </p>
{% endmacro %}


{% macro consent(config) %}
    <h4>{{ pgettext("consent-consent", "Consent") }}</h4>
    <p class="consent-text">
        {{ pgettext("consent-consent", "By consenting to participate, you acknowledge that you are 18 years or older, have read this consent form, agree to its contents, and agree to take part in this research.") }}
        {{ pgettext("consent-consent", "If you do not wish to consent, please close this page.") }}
    </p>
{% endmacro %}
