{% macro shared_css(config) %}
    <style>
        #trial-progress-caption {
            margin: 0;
        }
    </style>
{% endmacro %}

{% macro example_prompt(config) %}
    <style>
        ul {
            list-style-type: none;
        }

        .comma-list {
            display: inline;
            list-style: none;
            padding: 0px;
        }

        .comma-list li {
            display: inline;
        }

        .comma-list li::after {
            content: ", ";
        }

        .comma-list li:last-child::after {
            content: "";
        }
    </style>
    <div class="row">
        <div class="col text-success text-center p-3">
            <p>
                <span class="font-weight-bold">Here are items that are included (positive examples):</span>
            </p>
            <ul class="comma-list">
                {% for example in config['positive_examples'] %}
                    <li>{{ example }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col text-danger text-center p-3">
            <p>
                <span class="font-weight-bold">Here are items that are excluded (negative examples):</span>
            </p>
            <ul class="comma-list">
                {% for example in config['negative_examples'] %}
                    <li>{{ example }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endmacro %}

{% macro creator_prompt(config) %}
    <h1 class="text-center">Guess the Rule</h1>
    <br>
    {{ example_prompt(config) }}

{% endmacro %}

{% macro rater_prompt(config) %}
    <h1 class="text-center">Rate the Guesses</h1>
    <br>
    {{ example_prompt(config) }}
    <p>
        The intended rule is: <span class="font-weight-bold">{{ config['rule'] }}</span>
    </p>

    <p>Which of the following guesses are correct given the intended rule? (Check all rules that apply)</p>

    <div class="alert alert-warning" role="alert">
        We are continuously monitoring your consistency.
        Providing low quality ratings will lead the experiment to terminate early.
    </div>

    {% for rule in config['predicted_rules'] %}
        <div class="form-check">
            <input class="form-check-input rules" type="checkbox" value="{{ rule }}" id="rule-order{{ loop.index }}">
            <label class="form-check-label" for="rule-order{{ loop.index }}">
                {{ rule }}
            </label>
        </div>
    {% endfor %}
    <div class="form-check">
        <input class="form-check-input" type="checkbox" value="none" id="none">
        <label class="form-check-label" for="none">None of the above</label>
    </div>
{% endmacro %}


{% macro print_question(question, id) %}
    <tr>
        <td scope="row">{{ question }}</td>
        {% for option in range(7) %}
            <td>
                <input class="form-check-input" style="margin-left: 0;" type="radio" name="{{ id }}"
                       id="{{ id }}-{{ loop.index }}"
                       value="{{ loop.index }}">
            </td>
        {% endfor %}
    </tr>
{% endmacro %}


{% macro creator_control(config) %}
    <div class="row">
        <div class="col-2"><p class="font-weight-bold">What is the rule? Your rule starts with "The rule is:".</p></div>
        <div class="col"><input onselectstart="return false" oncut="return false" oncopy="return false"
                                onpaste="return false" ondrag="return false" ondrop="return false" class="form-control"
                                id="rule" type="text"></div>
    </div>
    <br>

    Please enter ratings for the following questions about the rule you just guessed (1–least, 7–most).
    <br>
    <table class="table">
        <thead>
        <tr>
            <td scope="col">Question</td>
            <td scope="col">1</td>
            <td scope="col">2</td>
            <td scope="col">3</td>
            <td scope="col">4</td>
            <td scope="col">5</td>
            <td scope="col">6</td>
            <td scope="col">7</td>
        </tr>
        </thead>
        <tbody>
        {{ print_question("How difficult was the problem?","difficult") }}
        {{ print_question("How abstract is the problem?", "abstract") }}
        {{ print_question("How helpful were the positive examples?", "helpful_positive") }}
        {{ print_question("How helpful were the negative examples?", "helpful_negative") }}

        </tbody>
    </table>


    <button type="button" onclick="validate()" class="btn btn-primary btn-lg">Submit</button>
    <br>
    <br>
    <script>
        function validate() {
            var rule = $('#rule').val();
            var success = true;
            if (rule === "") {
                alert("Please enter a rule");
                success = false;
                return;
            } else if ((rule.split(" ").length - 1) < 3) {
                alert('Your rule must start with "The rule is:"');
                success = false;
                return;
            }
            var questionsObject = {};
            ['difficult', 'abstract', 'helpful_positive', 'helpful_negative'].forEach(function (id) {
                var radio = $('input[name=' + id + ']:checked')
                if (radio.length !== 1) {
                    success = false;
                } else {
                    questionsObject[id] = radio.val();
                }
            });
            if (!success) {
                alert("Please answer all questions");
                return;
            }
            if (success) {
                psynet.nextPage({
                    'rule': rule,
                    'questions': questionsObject
                });
            }
        }
    </script>
    {{ shared_css(config) }}
{% endmacro %}


{% macro rater_control(config) %}
    <button type="button" onclick="validate()" class="btn btn-primary btn-lg">Submit</button>
    <br><br>
    <script>
        $(document).ready(function () {
            $('input').change(function (e) {
                if (e.target.value === "none") {
                    $('.rules').prop('checked', false);
                } else {
                    $('#none').prop('checked', false);
                }
            });
        });

        function validate() {
            var rule_dict = {};
            var n_checked = 0;
            $('input').each(function (i, elem) {
                var is_checked = $(elem).is(':checked');
                if (is_checked) {
                    n_checked += 1;
                }
                rule_dict[elem.id] = {
                    'checked': is_checked,
                    'rule': $(elem).val()
                }
            });
            if (n_checked > 0) {
                psynet.nextPage(rule_dict);
            } else {
                alert('You need to interact with the page before you can continue.');
            }
        }
    </script>
    {{ shared_css(config) }}
{% endmacro %}



